# Misc
Thumbs.db
.DS_Store
*.log
eslint.config.mjs

# IDE
.history
.vscode

# build
dist
build/bin
releases/*

# node related
npm-debug.log*
node_modules
.nvmrc

# Optional npm cache directory
.npm

# typescript
tsBuildInfoFile
tsconfig.tsbuildinfo

# Local Netlify folder
.netlify
