# Misc
Thumbs.db
.DS_Store
*.log

# IDE
.idea
.history
.vscode

# build
dist
build/bin
releases/*

# node related
npm-debug.log*
node_modules
.nvmrc

# Optional npm cache directory
.npm

# yarn
yarn.lock
yarn-error.log

# typescript
tsBuildInfoFile
tsconfig.tsbuildinfo
