@import './fonts.css';
@import './scrollbar.css';

@layer base {
  [popover] {
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity display;
    transition-behavior: allow-discrete;
  }

  [popover]:popover-open {
    opacity: 1;
  }

  @starting-style {
    [popover]:popover-open {
      opacity: 0;
    }
  }
}
