@font-face {
  font-family: 'fallouty';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/fallouty.woff2') format('woff2');
}
@font-face {
  font-family: 'fallouty';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/fallouty.woff2') format('woff2');
}
@font-face {
  font-family: 'falloutx';
  font-style: bold;
  font-weight: 500;
  src: url('../assets/fonts/falloutx.woff2') format('woff2');
}
